/* Reset CSS margins and paddings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* A default font and background color for our app */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f6f8;
}
